---
import "../styles/global.scss";
import Navbar from "../components/Navbar.astro";
import Homepage from "../components/Homepage.astro";
import Articles from "../components/Articles.tsx";
import AddStuff from "../components/AddStuff.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script
			src="https://kit.fontawesome.com/7fc3e6ac51.js"
			crossorigin="anonymous"></script>
		<title>Not Gimprilep</title>
	</head>
	<body>
		<Navbar />
		<Homepage />
		<Articles client:visible />
	</body>
</html>
