<main>
	<section id="hero-section">
		<h2>Гимназија „Мирче Ацев“ Прилеп</h2>
		<p>
			Нашето училиште се залага за обезбедување на квалитетно и успешно
			образование на нашите средношколци, спремајќи ги за понатамошниот
			живот.
		</p>
		<button>За нас</button>
	</section>
	<section id="why-us-section">
		<h2>Зошто гимназија?</h2>
		<p>
			Прилепската гимназија нуди одлични услови за сите ученици во
			нејзините училници. Со искусен професионален кадар, ние ги спремаме
			нашите ученици за сите предизвици во полнолетството.
		</p>
		<button>Пријави се денес</button>
	</section>
</main>

<style lang="scss"></style>
