---

---

<nav>
	<a href="/">Дома</a>
	<a href="/oglasna">Огласна табла</a>
	<select name="raspored" id="raspored">
		<option value="ucenici">Распоред за ученици</option>
		<option value="profesori">Распоред за професори</option>
		<option value="nedelen">
			<a href="../../public/nedelen.pdf">Неделен распоред</a>
		</option>
	</select>
	<a href="/cas_po">Час по..</a>
	<a href="/arhiva">Архива</a>
	<a href="/search">Пребарување</a>
	<a href="/contact">Контакт</a>
</nav>

<style>
	nav {
		position: sticky;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.dropdown-content {
	}
</style>
